In [1]:
import pandas as pd
import numpy as np

In [3]:
from bs4 import BeautifulSoup
import string

In [4]:
lst=os.listdir('resumes_corpus')

In [5]:
lst=sorted(lst)

In [6]:
df = pd.read_csv("resume_samples.txt",sep=":::;", header=None,encoding='ISO-8859-1')

/Users/abhaylal/opt/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [7]:
lab = []
for file in lst:
        with open("resumes_corpus/"+file, "rb") as f:
                data = f.readlines()
        if '.lab' in file:
                lab.append(str(data))

In [8]:
df['Label']=lab

In [9]:
df

,0,Label
0,C:\Workspace\java\scrape_indeed\dba_part_1\1.h...,[b'Database_Administrator']
1,C:\Workspace\java\scrape_indeed\dba_part_1\10....,[b'Database_Administrator']
2,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
3,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
4,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
...,...,...
29778,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Java_Developer\n', b'Web_Developer\n', b'So..."
29779,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Web_Developer\n', b'Software_Developer']"
29780,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Software_Developer\n', b'Front_End_Develope..."
29781,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Web_Developer\n', b'Software_Developer']"
29782,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Software_Developer\n', b'Web_Developer']"

In [10]:
df.rename(columns = {0:'Text'}, inplace = True)

In [11]:
df

,Text,Label
0,C:\Workspace\java\scrape_indeed\dba_part_1\1.h...,[b'Database_Administrator']
1,C:\Workspace\java\scrape_indeed\dba_part_1\10....,[b'Database_Administrator']
2,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
3,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
4,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
...,...,...
29778,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Java_Developer\n', b'Web_Developer\n', b'So..."
29779,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Web_Developer\n', b'Software_Developer']"
29780,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Software_Developer\n', b'Front_End_Develope..."
29781,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Web_Developer\n', b'Software_Developer']"
29782,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Software_Developer\n', b'Web_Developer']"

In [12]:
df.columns

Index(['Text', 'Label'], dtype='object')

## Cleaning Data

In [13]:
df

,Text,Label
0,C:\Workspace\java\scrape_indeed\dba_part_1\1.h...,[b'Database_Administrator']
1,C:\Workspace\java\scrape_indeed\dba_part_1\10....,[b'Database_Administrator']
2,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
3,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
4,C:\Workspace\java\scrape_indeed\dba_part_1\100...,[b'Database_Administrator']
...,...,...
29778,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Java_Developer\n', b'Web_Developer\n', b'So..."
29779,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Web_Developer\n', b'Software_Developer']"
29780,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Software_Developer\n', b'Front_End_Develope..."
29781,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Web_Developer\n', b'Software_Developer']"
29782,C:\Workspace\java\scrape_indeed\web_dev_part_1...,"[b'Software_Developer\n', b'Web_Developer']"

In [14]:
#Removing Unicode characters(for hard space) in text
df['Text'].replace(regex={"\xa0":""},inplace=True)
df['Text'].replace(regex={"\x95":""},inplace=True)

In [15]:
df['Text'].str[:]

0        C:\Workspace\java\scrape_indeed\dba_part_1\1.h...
1        C:\Workspace\java\scrape_indeed\dba_part_1\10....
2        C:\Workspace\java\scrape_indeed\dba_part_1\100...
3        C:\Workspace\java\scrape_indeed\dba_part_1\100...
4        C:\Workspace\java\scrape_indeed\dba_part_1\100...
                               ...
29778    C:\Workspace\java\scrape_indeed\web_dev_part_1...
29779    C:\Workspace\java\scrape_indeed\web_dev_part_1...
29780    C:\Workspace\java\scrape_indeed\web_dev_part_1...
29781    C:\Workspace\java\scrape_indeed\web_dev_part_1...
29782    C:\Workspace\java\scrape_indeed\web_dev_part_1...
Name: Text, Length: 29783, dtype: object

In [16]:
#Removing pathname given in data
for index, row in df.iterrows():
      a=row['Text'].find(":::")
      row['Text']=row['Text'][a+3:]

In [17]:
df

,Text,Label
0,Database Administrator;Database Administrator;...,[b'Database_Administrator']
1,"Database Administrator;SQL, Microsoft PowerPoi...",[b'Database_Administrator']
2,Oracle Database Administrator;Oracle Database ...,[b'Database_Administrator']
3,Amazon Redshift Administrator and ETL Develope...,[b'Database_Administrator']
4,Scrum Master;Oracle Database Administrator/ Sc...,[b'Database_Administrator']
...,...,...
29778,ServiceNow Developer;ServiceNow Developer;Serv...,"[b'Java_Developer\n', b'Web_Developer\n', b'So..."
29779,Android Developer;Android Developer;Route Plan...,"[b'Web_Developer\n', b'Software_Developer']"
29780,UI Developer;UI/ WEB Developer;UI Developer;UI...,"[b'Software_Developer\n', b'Front_End_Develope..."
29781,Web Developer;Javascript;PHP;Front End;Wordpre...,"[b'Web_Developer\n', b'Software_Developer']"
29782,Sr. Software Engineer;DevOps Manager;Web Devel...,"[b'Software_Developer\n', b'Web_Developer']"

In [18]:
#Creating a function to remove html tags from text
def remove_html(text):
    soup=BeautifulSoup(text,'lxml')
    html_free=soup.get_text()
    return html_free

In [19]:
df['Text']=df['Text'].apply(lambda x:remove_html(x))

In [20]:
df['Label']=df['Label'].apply(lambda x:remove_html(x))

/Users/abhaylal/opt/anaconda3/lib/python3.8/site-packages/bs4/__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [21]:
#Creating funciton to remove punctuation
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [22]:
df['Text'] = df['Text'].apply(remove_punctuations)

In [23]:
df

,Text,Label
0,Database AdministratorDatabase AdministratorDa...,[b'Database_Administrator']
1,Database AdministratorSQL Microsoft PowerPoint...,[b'Database_Administrator']
2,Oracle Database AdministratorOracle Database A...,[b'Database_Administrator']
3,Amazon Redshift Administrator and ETL Develope...,[b'Database_Administrator']
4,Scrum MasterOracle Database Administrator Scru...,[b'Database_Administrator']
...,...,...
29778,ServiceNow DeveloperServiceNow DeveloperServic...,"[b'Java_Developer\n', b'Web_Developer\n', b'So..."
29779,Android DeveloperAndroid DeveloperRoute Planne...,"[b'Web_Developer\n', b'Software_Developer']"
29780,UI DeveloperUI WEB DeveloperUI DeveloperUI Dev...,"[b'Software_Developer\n', b'Front_End_Develope..."
29781,Web DeveloperJavascriptPHPFront EndWordpressWe...,"[b'Web_Developer\n', b'Software_Developer']"
29782,Sr Software EngineerDevOps ManagerWeb Develope...,"[b'Software_Developer\n', b'Web_Developer']"

In [24]:
df['Label']

0                              [b'Database_Administrator']
1                              [b'Database_Administrator']
2                              [b'Database_Administrator']
3                              [b'Database_Administrator']
4                              [b'Database_Administrator']
                               ...
29778    [b'Java_Developer\n', b'Web_Developer\n', b'So...
29779          [b'Web_Developer\n', b'Software_Developer']
29780    [b'Software_Developer\n', b'Front_End_Develope...
29781          [b'Web_Developer\n', b'Software_Developer']
29782          [b'Software_Developer\n', b'Web_Developer']
Name: Label, Length: 29783, dtype: object

## Removing stop words

In [25]:
import spacy
from nltk.tokenize import word_tokenize
sp = spacy.load('en_core_web_sm')
all_stopwords = sp.Defaults.stop_words

In [26]:
#Creating a function to remove stop words
def remove_stopwords(text):
    text_tokens = word_tokenize(text)
    tokens_without_sw= [word for word in text_tokens if not word in all_stopwords]
    filtered_sentence = (" ").join(tokens_without_sw)
    return filtered_sentence

In [27]:
df['Text'] = df['Text'].apply(remove_stopwords)

In [28]:
df['Text'][5]

'Oracle Database AdministratorOracle Database AdministratorField Service Representative TechnicianPlease Additional Information section 6 yearsOracle DBA 6 yearsDBAOracle Database Administrator Oracle Database Administrator Oracle Database Administrator SUNTRUST BANK Fort Meade MD More years experience IT industry Oracle Database Administrator DBA having extensive experience production support installation configuration upgrades cloning space management database security management Oracle Software Red Hat Linux Solaris IBM AIX Windows platforms Possess high competency advanced DBA skills backup recovery performance tuning Good exposure Configuring Single Instance Oracle Real Application Clusters RAC Automatic Storage Management ASM Experience installing patching Oracle RAC ASM IBM AIX Solaris Linux platforms Expertise setting Data Guard Failover Switchover ReadOnly scenarios Fabricated multiple Clone databases traditional method Recovery Manager RMAN utility high availability configuration Good exposure Oracle DBA tasks like Installation Patching Cloning Upgrading Oracle Databases Grid Infrastructure Extensive knowledge database backup recovery strategy RMAN configuration Recovery Catalog multiple databases Performed periodic backups incremental restoration recovery database RMAN utility Exposure SQL Tuning Advisor SQL Profiles SQL Monitoring SQL Access Advisor SQL Baselines SQLTXTRACT tools utilities Installed Oracle 10g 11g RAC software ASM Oracle Cluster File System Version 2 OCFS2 RHEL HPUX Experience migration NonRAC database RAC RAC NonRAC RMAN RCONFIG DBCA Experience adding deletion Nodes RAC Experience upgrading databases 10g 11gR2 12c Work Oracle Advanced Technologies like Oracle Enterprise Manager Grid Control Oracle Streams Data Guard Real Application Clusters Implemented configured replication technology Data Guard installation configuration troubleshooting Linux UNIX Platforms Implemented different Backup Recovery strategies RMAN Complete Incomplete Recovery databases database crash diskmedia failure etc Extensively RMAN DUPLICATE cloneduplicate target database restore Tablespace PointinTime Recovery TSPITR Efficiently implemented logical backups tools like Oracle Data Pump ExportImport Classic Original ExportImport Experience applying security quarterly PSU CPU patches databases Cloning Oracle Application PROD DEV TEST UAT environment Installation configuration patching upgrading maintenance Oracle Applications Oracle Databases Experience replication Materialized Views Security User Management Privileges Roles Auditing Profiling Authentication Handson experience new Oracle FLASHBACK Technology like enabling Flashback feature configuring FLASH RECOVERY AREA FRA implementing Flashback recovery strategies like FLASHBACK Drop FLASHBACK Table FLASHBACK Query FLASHBACK Database Performance Monitoring Tuning databases tools like SQL Tuning Advisor Sales Performance Management SPM Segment Advisor STATSPACK Automatic Workload Repository AWR Active Session History ASH ADDM reports Experience working SQL Tuning tools like SQL Trace Explain Plan SQL Profiles Oracle GoldenGate knowledge Configured maintained unidirectional replication GoldenGate Creating maintaining Oracle Wallet remote authentication Good understanding System Development Life Cycle Automatic Undo Management RAID concepts advanced features Oracle 11g Expertise Tuning memory IO CPU utilization Disk usage Space utilization Upgrading Migration Oracle Database higher version platforms manual method traditional ExportImport Data Pump Transportable Tablespace TTS Experience coding SQL PLSQL packages functions stored procedures triggers Materialized Views Oracle Database Handson experience Logical backups HotCold backups Recovery cloning databases RMAN SQLBackTrack Veritas NetBackup Disk Space Management involving managing archives space allocation tablespaces capacity planning new applications Expertise configuring RMAN CatalogNocatalog worked PointInTime Recovery Flashback Plugging tablespace different platforms CrossPlatform Transportable Tablespace utility Collected performance statistics STATSPACKAWR Automatic Database Diagnostic Monitor ADDM Used TKPROF utility Explain Plan tuning SQL queries Expertise loading data flat files external tables SQLLoader Experience SQL PLSQL UNIX Shell Scripting Handson experience tuning mappings identifying resolving performance bottlenecks levels like sources targets mappings sessions Excellent analytical problem solving communication interpersonal skills Highly effective communicating engineers technicians Skilled detailed work redefining wide range operational difficulties Strength analyzing improving electronics administrative methods Committed maintaining quality efficiency Enjoy challenge providing high quality direct service clients Proven ability effectively facilitate communication management project personnel Highly inquisitive creative resourceful goal oriented enthusiastic quick learner Authorized work US employer Work Experience Oracle Database Administrator SUNTRUST BANK Tampa FL February 2015 Present 24x7 database administration support monitoring ensure proactive problem recognition resolution database issues Migration Oracle Databases Windows Linux Apply patches Oracle Databases Oracle Applications Upgrade development production databases Oracle 10g Proactive database monitoring Oracle 10g grid monitoring tool Database tuning SQL Trace STATSPACK EXPLAIN PLAN TKPROF Extensive Performance Tuning Memory SGA Tuning NetBackup EMC TimeFinder SRDF RAID RAW Devices Perform database cloning set test development databases Responsible optimizing queries application tuning Perform SQL Tuning assist developers coding PLSQL Provide support Application Database Administrators designing database Use RMAN backup recovery Perform Hot Cold Logical backups Perform backup validations RMAN Management schemas objects partitioning tables indexes Automation data load KornShell scripting SQLLoader Responsible setting managing user accounts granting required privileges users Perform DBA activities space management performance monitoring Experience Oracle Database monitoring troubleshooting resolving issues Have implemented types standby databases supported Data Guard Logical standby Physical standby databases 11gR2 twonode RAC Handson experience HotCold Backup Recovery Cloning databases RMAN Veritas NetBackup Commvault Implement Active Data Guard creating Logical Physical Standby databases 10g 11g 12c environment Production databases Configure manage Data Guard extensively Production databases sizes ranging 50GB 5TB Performance Tuning Gathering stats creating indexes tuning memory settings optimal performance Work 11gR2 12c multinode RACNonRAC environment LINUX ASM SCAN GIS Set configuration Standby Databases Active Data Guard Snapshot Standby Data Guard Broker Involvement timely database application releases Oracle Applications conjunction Development Team Application Team System Administrators Release Teams Tuning Oracle Database tuning memory IO Resource contention Database operation performance diagnostic tools TKPROF SQL Trace utility Oracle Expert Oracle SQL Analyze Frequent interaction Developers working developing applications SQL Trace Explain Plan utilities Implement partitioning huge tables improve performance reduce maintenance finite window operations Monitor databases Oracle Enterprise Manager Toad Monitoring OS Level monitor backups OASIS tool Install configure maintain Oracle Audit Vault auditing databases time Set Maintenance Oracle Advanced features like Oracle FLASHBACK Flash Recovery Area Data Guard Physical Standby Failover procedures Experience OEM 12c installation Knowledge architecture design OEM Oracle Database application monitoring Implement configure GoldenGate RAC environment Implement 11g Interval Partitioning monthly partitioning large tables Develop RMAN Backup strategies cloning test databases production environment work RMAN ActiveActive Duplication Experience logical backups EXPDPIMPDP extensively Rehosting application GoldenGate Worked conventional EXPIMP migrating data 9i 10g Schedule RMAN backups purge jobs maintenance jobs DBMSJOBS DBMSSCHEDULER Crontab Universe Design implement different backup strategies like Hot Cold RMAN Flash Recovery Area Logical Backups EXPDPIMPDP Handle Chained Rows Row Migration solve database performance issues Experience ASM adding deleting disks disk group Support development teams databaserelated issues handle critical issues like network failures ASM Disk Group errors node failures RAC cluster Generate STATSPACKAWR reports OEM 12c Oracle 11g database analyze reports Oracle Wait Events time consuming SQL Queries tablespace growth database growth Use Explain Plan Oracle Optimizer Hints creation new indexes improve performance SQL statements Involved SQL Query tuning provide tuning recommendations application jobs timeCPUconsuming queries Tools Used Oracle RMAN Oracle 11g 11202 DBMS STATS Data Pump SQL Trace TKPROF EXPLAIN PLAN Oracle Database Administrator ESTESEXPRESS Richmond VA March 2013 February 2015 Cloned migrated databases RMAN traditional Data Pump ExportImport utilities Oracle 10gR2 Implemented recovery strategies required successfully recovered databases RMAN database crashed mediadisk failed Scheduled Physical backups Hot Cold Crontab RMAN monitored scheduled jobs Performed configuration changes Autoconfig PrePatch Analysis patches document preparation pre postpatch steps Applied patches Maintenance Pack Interoperability Patch Release Update Patches RUP Family Pack Created application users user profiles responsibilities menus functions Validated created grants synonyms APPS schemas Performed JAR fileforms generation postpatch step Relinking Oracle APPS programs Performed Application Tracing user sessions concurrent programs Monitored alert log trace files errors Performed cloning Production database TEST environment provide user live data testing purposes Managed OLTP databases RAC NonRAC having 24x7 activities handled aspects databases including administration tuning backup recovery Production Test Development environments Provided database dumps schema level dumps DEV TEST database environments Performed reorg schematables data archiving regular time intervals Planned Scheduled BackupRestoration Strategies backups database RMAN Responsible Creating Users Groups Roles Profiles assigning users groups granting necessary privileges relevant groups Used SQL Trace TKPROF Explain Plan utilities optimizing tuning SQL queries Maintained data integrity security integrity constraints database triggers Provided 24x7 support production development databases Strong skills applying security patches Patch Set Critical Patch Updates CPU Patch Set Updates PSU Oneoff Patch \x93runInstaller\x94 Perl based utility \x93OPatch\x94 Applied patches 10202 10203 10204 Highly experienced implementing Oracles Transportable Tablespace TTS feature Data Pump ExportImport Oracle 10g 11g allowing users quickly user tablespace Oracle Databases Expertise implementing data refreshes database schema table level RMAN utility Data Pump conventional ExportImport Oracle 10g 11g Performed installation configuration Oracle 10201 database HPUX platform Successfully performed migrations Oracle 9i10g 10gR2 RAC Real Application Cluster database Successfully upgraded databases 11g nonCDB Container Database 12c Successfully migrated 12c nonCDB databases Pluggable Databases PDB Created Oracle Wallets implemented tablespace level Transparent Data Encryption TDE security Constantly monitored performance Dynamic Performance V Views peak load databases viewed alert log files trace files Ran scripts check database status growing table sizes extent allocation free space space fragmentation etc Performed space management capacity planning disaster recovery overall maintenance databases Created Physical Standby databases RMAN zero downtime Performed Switchover Failover Data Guard Broker manually performed operation required Worked extensively Physical Standby database troubleshooting switchover switchback Physical Standby setup Successfully performed data replication Materialized Views Oracle Streams Oracle 10gR2 Tools Used Oracle Streams RMAN Data Pump Oracle 10201 HPUX 11i Sun Solaris 100 SQL Trace TKPROF Explain Plan Field Service Representative Technician ROCHE DIAGNOSTICS FOR ADECCO TECHNICAL Columbia MD October 2009 March 2013 Provided routine technical support Roche Diagnostics customers installation maintenance aspects molecular diagnostics system equipment robotics Performed service repair installation company products including mechanicalsystem hardware networkingwireless networking working primary technical specialist Performed hardware updates medical equipment standard specialized hand tools Performed software updates medical devices Performed electrical safety tests medical devices electrical safety analyzer Recorded test results Input manipulated data Microsoft Excel spreadsheet Tools Used Roche Diagnostics Molecular Analyzers Ampliprep LC480 TaqMan48 TaqMan96 MagNa Pure 96 MagNa Pure Compact Hamilton Star Cobas 4800 Education School Professional Graduate StudiesTechnical Courses BAKER UNIVERSITY Overland Park KS GeneralBusinessScience Courses UNIVERSITY OF ALASKA Anchorage AK Skills Please Additional Information section 6 years Oracle DBA 6 years DBA CertificationsLicenses Oracle Certified Associate Present Additional Information TECHNICAL SKILLS Oracle Databases Oracle 10g 11g 12c Database Tools Oracle Oracle Enterprise Manager SQLPlus SQL Loader DB Configuration Assistant Toad OEM Grid RMAN SQLLoader Data Pump ExpImp LogMiner StatspackAWR Shareplex Top DBCA DBUA ADDM Oracle Migration Workbench BMC Remedy Erwin Quest QDesigner Operating Systems LINUX UNIX Solaris 8 9 10 IBM AIX Windows 7 8 10 MAC OS 9 OS X Hardware Red Hat Linux 62 Dell EMC Servers HPUX 9000 Hitachi Sun Fire 15K Sun Storage 6320 Sun Enterprise Servers 890 880 420 450 Sun StorEdge 6320 Compaq Servers 6000 3000 1600 800 IBM PC Compatibles Software Microsoft Word Mail Merge Excel Power Point Outlook Exchange Other Technical Computer Skills Oracle Database 11g SQL Fundamentals I ETA International Computer Service Technician Certification A Hardware Break Fix Technician CompTIA Network Accredited Course Certificate Industry Certification Pending ETA International Wireless Network Technician Certification ETA International Fiber Optics Advanced Certification ETA International Customer Service Specialist Certification Other office electronics business industry related equipment Web Design Graphics Design'

## Performing stemming

In [33]:
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [40]:
def stemming(text):
    sentences = nltk.sent_tokenize(text)
    stemmer = PorterStemmer()
    for i in range(len(sentences)):
        words = nltk.word_tokenize(sentences[i])
        words = [stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
        sentences[i] = ' '.join(words)
    return sentences

In [41]:
df['Text'] = df['Text'].apply(stemming)

KeyboardInterrupt:

In [39]:
df['Text'][5]

'Oracle Database AdministratorOracle Database AdministratorField Service Representative TechnicianPlease Additional Information section 6 yearsOracle DBA 6 yearsDBAOracle Database Administrator Oracle Database Administrator Oracle Database Administrator SUNTRUST BANK Fort Meade MD More years experience IT industry Oracle Database Administrator DBA having extensive experience production support installation configuration upgrades cloning space management database security management Oracle Software Red Hat Linux Solaris IBM AIX Windows platforms Possess high competency advanced DBA skills backup recovery performance tuning Good exposure Configuring Single Instance Oracle Real Application Clusters RAC Automatic Storage Management ASM Experience installing patching Oracle RAC ASM IBM AIX Solaris Linux platforms Expertise setting Data Guard Failover Switchover ReadOnly scenarios Fabricated multiple Clone databases traditional method Recovery Manager RMAN utility high availability configuration Good exposure Oracle DBA tasks like Installation Patching Cloning Upgrading Oracle Databases Grid Infrastructure Extensive knowledge database backup recovery strategy RMAN configuration Recovery Catalog multiple databases Performed periodic backups incremental restoration recovery database RMAN utility Exposure SQL Tuning Advisor SQL Profiles SQL Monitoring SQL Access Advisor SQL Baselines SQLTXTRACT tools utilities Installed Oracle 10g 11g RAC software ASM Oracle Cluster File System Version 2 OCFS2 RHEL HPUX Experience migration NonRAC database RAC RAC NonRAC RMAN RCONFIG DBCA Experience adding deletion Nodes RAC Experience upgrading databases 10g 11gR2 12c Work Oracle Advanced Technologies like Oracle Enterprise Manager Grid Control Oracle Streams Data Guard Real Application Clusters Implemented configured replication technology Data Guard installation configuration troubleshooting Linux UNIX Platforms Implemented different Backup Recovery strategies RMAN Complete Incomplete Recovery databases database crash diskmedia failure etc Extensively RMAN DUPLICATE cloneduplicate target database restore Tablespace PointinTime Recovery TSPITR Efficiently implemented logical backups tools like Oracle Data Pump ExportImport Classic Original ExportImport Experience applying security quarterly PSU CPU patches databases Cloning Oracle Application PROD DEV TEST UAT environment Installation configuration patching upgrading maintenance Oracle Applications Oracle Databases Experience replication Materialized Views Security User Management Privileges Roles Auditing Profiling Authentication Handson experience new Oracle FLASHBACK Technology like enabling Flashback feature configuring FLASH RECOVERY AREA FRA implementing Flashback recovery strategies like FLASHBACK Drop FLASHBACK Table FLASHBACK Query FLASHBACK Database Performance Monitoring Tuning databases tools like SQL Tuning Advisor Sales Performance Management SPM Segment Advisor STATSPACK Automatic Workload Repository AWR Active Session History ASH ADDM reports Experience working SQL Tuning tools like SQL Trace Explain Plan SQL Profiles Oracle GoldenGate knowledge Configured maintained unidirectional replication GoldenGate Creating maintaining Oracle Wallet remote authentication Good understanding System Development Life Cycle Automatic Undo Management RAID concepts advanced features Oracle 11g Expertise Tuning memory IO CPU utilization Disk usage Space utilization Upgrading Migration Oracle Database higher version platforms manual method traditional ExportImport Data Pump Transportable Tablespace TTS Experience coding SQL PLSQL packages functions stored procedures triggers Materialized Views Oracle Database Handson experience Logical backups HotCold backups Recovery cloning databases RMAN SQLBackTrack Veritas NetBackup Disk Space Management involving managing archives space allocation tablespaces capacity planning new applications Expertise configuring RMAN CatalogNocatalog worked PointInTime Recovery Flashback Plugging tablespace different platforms CrossPlatform Transportable Tablespace utility Collected performance statistics STATSPACKAWR Automatic Database Diagnostic Monitor ADDM Used TKPROF utility Explain Plan tuning SQL queries Expertise loading data flat files external tables SQLLoader Experience SQL PLSQL UNIX Shell Scripting Handson experience tuning mappings identifying resolving performance bottlenecks levels like sources targets mappings sessions Excellent analytical problem solving communication interpersonal skills Highly effective communicating engineers technicians Skilled detailed work redefining wide range operational difficulties Strength analyzing improving electronics administrative methods Committed maintaining quality efficiency Enjoy challenge providing high quality direct service clients Proven ability effectively facilitate communication management project personnel Highly inquisitive creative resourceful goal oriented enthusiastic quick learner Authorized work US employer Work Experience Oracle Database Administrator SUNTRUST BANK Tampa FL February 2015 Present 24x7 database administration support monitoring ensure proactive problem recognition resolution database issues Migration Oracle Databases Windows Linux Apply patches Oracle Databases Oracle Applications Upgrade development production databases Oracle 10g Proactive database monitoring Oracle 10g grid monitoring tool Database tuning SQL Trace STATSPACK EXPLAIN PLAN TKPROF Extensive Performance Tuning Memory SGA Tuning NetBackup EMC TimeFinder SRDF RAID RAW Devices Perform database cloning set test development databases Responsible optimizing queries application tuning Perform SQL Tuning assist developers coding PLSQL Provide support Application Database Administrators designing database Use RMAN backup recovery Perform Hot Cold Logical backups Perform backup validations RMAN Management schemas objects partitioning tables indexes Automation data load KornShell scripting SQLLoader Responsible setting managing user accounts granting required privileges users Perform DBA activities space management performance monitoring Experience Oracle Database monitoring troubleshooting resolving issues Have implemented types standby databases supported Data Guard Logical standby Physical standby databases 11gR2 twonode RAC Handson experience HotCold Backup Recovery Cloning databases RMAN Veritas NetBackup Commvault Implement Active Data Guard creating Logical Physical Standby databases 10g 11g 12c environment Production databases Configure manage Data Guard extensively Production databases sizes ranging 50GB 5TB Performance Tuning Gathering stats creating indexes tuning memory settings optimal performance Work 11gR2 12c multinode RACNonRAC environment LINUX ASM SCAN GIS Set configuration Standby Databases Active Data Guard Snapshot Standby Data Guard Broker Involvement timely database application releases Oracle Applications conjunction Development Team Application Team System Administrators Release Teams Tuning Oracle Database tuning memory IO Resource contention Database operation performance diagnostic tools TKPROF SQL Trace utility Oracle Expert Oracle SQL Analyze Frequent interaction Developers working developing applications SQL Trace Explain Plan utilities Implement partitioning huge tables improve performance reduce maintenance finite window operations Monitor databases Oracle Enterprise Manager Toad Monitoring OS Level monitor backups OASIS tool Install configure maintain Oracle Audit Vault auditing databases time Set Maintenance Oracle Advanced features like Oracle FLASHBACK Flash Recovery Area Data Guard Physical Standby Failover procedures Experience OEM 12c installation Knowledge architecture design OEM Oracle Database application monitoring Implement configure GoldenGate RAC environment Implement 11g Interval Partitioning monthly partitioning large tables Develop RMAN Backup strategies cloning test databases production environment work RMAN ActiveActive Duplication Experience logical backups EXPDPIMPDP extensively Rehosting application GoldenGate Worked conventional EXPIMP migrating data 9i 10g Schedule RMAN backups purge jobs maintenance jobs DBMSJOBS DBMSSCHEDULER Crontab Universe Design implement different backup strategies like Hot Cold RMAN Flash Recovery Area Logical Backups EXPDPIMPDP Handle Chained Rows Row Migration solve database performance issues Experience ASM adding deleting disks disk group Support development teams databaserelated issues handle critical issues like network failures ASM Disk Group errors node failures RAC cluster Generate STATSPACKAWR reports OEM 12c Oracle 11g database analyze reports Oracle Wait Events time consuming SQL Queries tablespace growth database growth Use Explain Plan Oracle Optimizer Hints creation new indexes improve performance SQL statements Involved SQL Query tuning provide tuning recommendations application jobs timeCPUconsuming queries Tools Used Oracle RMAN Oracle 11g 11202 DBMS STATS Data Pump SQL Trace TKPROF EXPLAIN PLAN Oracle Database Administrator ESTESEXPRESS Richmond VA March 2013 February 2015 Cloned migrated databases RMAN traditional Data Pump ExportImport utilities Oracle 10gR2 Implemented recovery strategies required successfully recovered databases RMAN database crashed mediadisk failed Scheduled Physical backups Hot Cold Crontab RMAN monitored scheduled jobs Performed configuration changes Autoconfig PrePatch Analysis patches document preparation pre postpatch steps Applied patches Maintenance Pack Interoperability Patch Release Update Patches RUP Family Pack Created application users user profiles responsibilities menus functions Validated created grants synonyms APPS schemas Performed JAR fileforms generation postpatch step Relinking Oracle APPS programs Performed Application Tracing user sessions concurrent programs Monitored alert log trace files errors Performed cloning Production database TEST environment provide user live data testing purposes Managed OLTP databases RAC NonRAC having 24x7 activities handled aspects databases including administration tuning backup recovery Production Test Development environments Provided database dumps schema level dumps DEV TEST database environments Performed reorg schematables data archiving regular time intervals Planned Scheduled BackupRestoration Strategies backups database RMAN Responsible Creating Users Groups Roles Profiles assigning users groups granting necessary privileges relevant groups Used SQL Trace TKPROF Explain Plan utilities optimizing tuning SQL queries Maintained data integrity security integrity constraints database triggers Provided 24x7 support production development databases Strong skills applying security patches Patch Set Critical Patch Updates CPU Patch Set Updates PSU Oneoff Patch \x93runInstaller\x94 Perl based utility \x93OPatch\x94 Applied patches 10202 10203 10204 Highly experienced implementing Oracles Transportable Tablespace TTS feature Data Pump ExportImport Oracle 10g 11g allowing users quickly user tablespace Oracle Databases Expertise implementing data refreshes database schema table level RMAN utility Data Pump conventional ExportImport Oracle 10g 11g Performed installation configuration Oracle 10201 database HPUX platform Successfully performed migrations Oracle 9i10g 10gR2 RAC Real Application Cluster database Successfully upgraded databases 11g nonCDB Container Database 12c Successfully migrated 12c nonCDB databases Pluggable Databases PDB Created Oracle Wallets implemented tablespace level Transparent Data Encryption TDE security Constantly monitored performance Dynamic Performance V Views peak load databases viewed alert log files trace files Ran scripts check database status growing table sizes extent allocation free space space fragmentation etc Performed space management capacity planning disaster recovery overall maintenance databases Created Physical Standby databases RMAN zero downtime Performed Switchover Failover Data Guard Broker manually performed operation required Worked extensively Physical Standby database troubleshooting switchover switchback Physical Standby setup Successfully performed data replication Materialized Views Oracle Streams Oracle 10gR2 Tools Used Oracle Streams RMAN Data Pump Oracle 10201 HPUX 11i Sun Solaris 100 SQL Trace TKPROF Explain Plan Field Service Representative Technician ROCHE DIAGNOSTICS FOR ADECCO TECHNICAL Columbia MD October 2009 March 2013 Provided routine technical support Roche Diagnostics customers installation maintenance aspects molecular diagnostics system equipment robotics Performed service repair installation company products including mechanicalsystem hardware networkingwireless networking working primary technical specialist Performed hardware updates medical equipment standard specialized hand tools Performed software updates medical devices Performed electrical safety tests medical devices electrical safety analyzer Recorded test results Input manipulated data Microsoft Excel spreadsheet Tools Used Roche Diagnostics Molecular Analyzers Ampliprep LC480 TaqMan48 TaqMan96 MagNa Pure 96 MagNa Pure Compact Hamilton Star Cobas 4800 Education School Professional Graduate StudiesTechnical Courses BAKER UNIVERSITY Overland Park KS GeneralBusinessScience Courses UNIVERSITY OF ALASKA Anchorage AK Skills Please Additional Information section 6 years Oracle DBA 6 years DBA CertificationsLicenses Oracle Certified Associate Present Additional Information TECHNICAL SKILLS Oracle Databases Oracle 10g 11g 12c Database Tools Oracle Oracle Enterprise Manager SQLPlus SQL Loader DB Configuration Assistant Toad OEM Grid RMAN SQLLoader Data Pump ExpImp LogMiner StatspackAWR Shareplex Top DBCA DBUA ADDM Oracle Migration Workbench BMC Remedy Erwin Quest QDesigner Operating Systems LINUX UNIX Solaris 8 9 10 IBM AIX Windows 7 8 10 MAC OS 9 OS X Hardware Red Hat Linux 62 Dell EMC Servers HPUX 9000 Hitachi Sun Fire 15K Sun Storage 6320 Sun Enterprise Servers 890 880 420 450 Sun StorEdge 6320 Compaq Servers 6000 3000 1600 800 IBM PC Compatibles Software Microsoft Word Mail Merge Excel Power Point Outlook Exchange Other Technical Computer Skills Oracle Database 11g SQL Fundamentals I ETA International Computer Service Technician Certification A Hardware Break Fix Technician CompTIA Network Accredited Course Certificate Industry Certification Pending ETA International Wireless Network Technician Certification ETA International Fiber Optics Advanced Certification ETA International Customer Service Specialist Certification Other office electronics business industry related equipment Web Design Graphics Design'

## Saving as csv

In [30]:
df.to_csv('res_data.csv')